<app-topo></app-topo>
<app-banner></app-banner>

<section>
  <ul class="conteudo flex">
    
    <article class= "servicosArt">
      <li class="servicos"><a href="servicos"><img class= "servicosImg" [src]="servicos"></a></li>
      <p>NOSSOS SERVIÇOS</p>
    </article>
    
    <article class="nossasLojasArt">
      <li class="nossasLojas"><a href="lojas"><img class= "nossasLojasImg" [src]="nossasLojas"></a></li>
      <p>NOSSAS LOJAS</p>  
    </article>

    <article class="faleConoscoArt">
      <li class="faleConosco"><a href="faleconosco"><img class="faleConoscoImg" [src]="faleConosco"></a></li>
      <p>FALE CONOSCO</p>
    </article>
  </ul>

</section>

<app-footer></app-footer>