.listar{
  font-family: montserrat;
  text-align: center;
  }

h2{
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  color: #F58634;
  background-color: black;
  display: block;
  
}

.botao{
  width: 100%;
  height: 50px;
  display: block;
  margin: 20px auto;
  
  }

.botao button{
  width: 150px;
  height: 50px;
  background-image: radial-gradient(rgb(231, 205, 170), #f58634);
  color: black;
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  margin-top: -100px;
}