<app-topo></app-topo>

<section class="quemSomos flex">

  <article class="titulo flex-item-12">
    <h2>QUEM SOMOS</h2>
  </article> 

  <article class="ladoEsquerdo flex-item-4">
    <div class= "foto">
      <img class="fotoImg" [src]="fotoAntiga">
    </div>
    <div class="valores">
      <h3>VALORES</h3>
      <p>oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. 
        oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. 
        oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. 
        oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. </p>
    </div>
  </article>

  <article class="ladoDireito flex-item-8">
    <div class="objetivo">
      <h3>ESTA É SUA OFICINA MECÂNICA NO </h3>
      <h3>RIO DE JANEIRO</h3>

      <p> oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. 
        oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. oficina. 
      </p>
      <p> A Oficina Mecânica Automotiva Marcio Luiz tem a certeza de que todo investimento em pessoas e em tecnologia de última geração, 
          são diferenciais para se alcançar a excelência e mantê-la ao longo desses anos com a sua oficina mecânica em São Paulo.</p>
      <p> A Oficina Mecânica Marcio Luiz está localizada estrategicamente na Zona Sul do Rio de Janeiro, Avenida Copacabana - Rio de Janeiro.</p>
      
    </div>
  </article>

</section>
<app-footer></app-footer>
