<app-topo></app-topo>

<section class="lojas flex">
  <article class="titulo flex-item-12">
    <h2>LOJAS</h2>  
  </article>
  

  <article class="matriz flex-item-6">
    <h4>MATRIZ</h4>
    <p>Av. Rio Branco - Centro</p>
    <img class="matrizImg" [src]="matrizImg">
    <img class="mapaMatriz" [src]="mapaMatriz">
  </article>

  <article class="filial flex-item-6">
    <h4>FILIAL</h4>
    <p>Av. Copacabana - Centro</p>
    <img class="filialImg" [src]="filialImg">
    <img class="mapaFilial" [src]="mapaFilial">

  </article>


</section>


<app-footer></app-footer>