<app-topo></app-topo>

<section class='servico flex'>
  
  <article class="titulo flex-item-12">
    <h2>SERVIÇOS</h2>
  </article>

    <article class="servico1 flex-item-4">
      <img class="mecanicaImg" [src]="mecanicaImg">
      <p>MÊCANICA GERAL</p>
    </article>

    <article class="servico2 flex-item-4">
      <img class="oleoImg" [src]="oleoImg">
      <p>TROCA DE ÓLEO</p>
    </article>

    <article class="servico3 flex-item-4">
      <img class="pinturaImg" [src]="pinturaImg">
      <p>PINTURA E FUNILARIA</p>
    </article>

    <article class="servico4 flex-item-4">
      <img class="eletricaImg" [src]="eletricaImg">
      <p>ELÉTRICA</p>
    </article>

    <article class="servico5 flex-item-4">
      <img class="borrachariaImg" [src]="borrachariaImg">
      <p>BORRACHARIA</p>
    </article>

    <article class="servico6 flex-item-4">
      <img class="revisaoImg" [src]="revisaoImg">
      <p>REVISAO</p>
    </article>

    <article class="servico7 flex-item-4">
      <img class="freiosImg" [src]="freiosImg">
      <p>FREIOS E PASTILHAS</p>
    </article>

    <article class="servico8 flex-item-4">
      <img class="ArCondicionadoImg" [src]="ArCondicionadoImg">
      <p>AR CONDICIONADO</p>
    </article>

    <article class="servico9 flex-item-4">
      <img class="injecaoEletronicaImg" [src]="injecaoEletronicaImg">
      <p>INJEÇÃO ELETRÔNICA</p>
    </article>

    
</section>

<app-footer></app-footer>

