<header class="cabecalho">
  <div class="topo">
    <div class="header-topo flex">
      <img class="carroEsquerdo flex-item-3" [src]="ladoEsquerdo">
      <img class="logo flex-item-4" [src]="logo">
      <img class="carroDireito flex-item-3" [src]="ladoDireito">
      <img class="estrada" [src]="estrada">
      
    </div>
  </div>

  <div class="menu">
    <nav class="menu-nav">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="quemsomos">QUEM SOMOS</a></li>
          <li><a href="lojas">LOJAS</a></li>
          <li><a href="servicos">SERVIÇOS</a></li>
          <li><a href="faleconosco">FALE CONOSCO</a></li>
          <li class="log"><a href="login" >LOGIN</a></li>
          <li class="log"><a href="logado">LOGOUT</a></li>
      </ul>
    </nav>
   </div>

</header>


