footer{
	background-color: black;
}

.rodape{
  color: white;
  font-family: montserrat;
  font-style: normal;
  }

  .contato{
    margin-top: 10px;
  }

  .redesSociais{
    margin-top:  10px;
  }

  

